{% extends 'base.html' %}

{% block content %}

    <h1>Login</h1>
    <form>
        {% csrf_token %}
        <div class="ui form">
            <div class="ui field">
                <label>Enter your username</label>
                <label>
                    <input type="text" placeholder="username"/>
                </label>

            </div>
            <div class="ui field">
                <label>Enter your email</label>
                <label>
                    <input type="email" placeholder="username"/>
                </label>

            </div>
                <div class="ui field">
        <label>Enter your password</label>
        <label>
            <input type="password" placeholder="username"/>
        </label>

    </div>

        </div>
    </form>

{% endblock content %}